.mc-projects.is-teaser {
  padding-top: 0.75rem
}

.mc-projects .e-results.is-empty {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.mc-projects .b-categories a.is-active {
  border-bottom: 2px solid #261e66;
}

.c-project.is-teaser hr::after {
  background: #eafded;
}

.c-project .e-cover a {
  border-bottom: none;
}

.c-project .e-tags {
  margin-top: 0.75rem;
  font-size: 0.75rem;
}

.c-project .e-cover a {
  border-bottom: none;
}

.c-cover .image {
  height: 240px;
  position: relative;
}

.c-cover .text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.c-cover.is-float {
  height: 580px;
}

@media all and (min-width: 49.750em) {
  
  .c-cover.is-float.has-intro {
    height: 480px !important;
    width: 360px !important;
    margin-right: 0.75rem !important;
    margin-bottom: .375rem;
    display: inline-block;
    float: left;
  }
  
  .e-intro.has-cover {
    display: inline;
  }
  
  /* Clear fix and compensation for following hr element */
  
  .e-intro.has-cover:after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 1.5rem;
  }
  
}