.mc-projects.is-teaser {
  padding-top: 0.75rem
}

.mc-projects .e-results.is-empty {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.mc-projects .b-categories a.is-active {
  border-bottom: 2px solid #261e66;
}

.c-project.is-teaser hr::after {
  background: #eafded;
}

.c-project .e-cover a {
  border-bottom: none;
}

.c-project .e-tags {
  margin-top: 0.75rem;
  font-size: 0.75rem;
}

.e-cover a {
  border-bottom: none;
}